@import '../../styles/global-variables/colors.scss';

.researchers {
  background-color: $cultured;
  &__container {
    background: white;
    height: 100%;
    margin: 0 7rem;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 25rem);
  }

  &__all {
    padding: 1rem 3.2rem 2rem 4.5rem;
  }

  &__resume {
    margin: 1rem 0;
  }

  &__info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    &_container {
      padding: 0.2rem 1rem;
    }

    &_title {
      font-weight: bold;
      font-size: 1.2rem;
      color: $title;
    }

    &_description {
      font-family: century-gothic, sans-serif;
      text-align: justify;
      font-size: 1rem;
      color: $sub-Title;
    }
  }

  &__tap {
    background-color: $accent;
  }

  &__selected {
    color: $details;
  }
}

.info {
  &__container {
    background: $primary;
  }

  &__line-researcher {
    place-self: center;
    width: 90%;
    height: 0;
    border: 2px solid $accent;
  }
}

@media screen and (max-width: 960px) {
  .researchers {
    &__container {
      margin: 0 6rem;
    }
  }
}

@media screen and (max-width: 870px) {
  .researchers {
    &__container {
      margin: 0 4rem;
    }

    &__all {
      padding: 1rem 2rem 2rem 2.5rem;
    }
  }
}

@media screen and (max-width: 730px) {
  .researchers {
    &__container {
      margin: 0;
    }

    &__all {
      padding: 1rem 2rem 2rem 2.5rem;
    }
  }
}

@media screen and (max-width: 601px) {
  .researchers {
    &__container {
      margin: 0;
    }
    
    &__info {
      display: flex;
      flex-direction: column;
    }

    &__all {
      padding: 1rem 1.5rem 1.5rem 1.2rem;
    }
  }

  .box {
    padding: 0;
  }
}
